body{
    text-align: center;
    font-family: Open Sans, sans-serif;
    margin: 0 0 30px 0px;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #658d51, rgb(58, 86, 32));
}
header{
    padding: 0;
    margin-top: 0;
    text-align: right;
}
#menu-h ul{
    list-style-type: none;
    line-height: 2;
    text-decoration: none;
    padding: 0;
    background-color: #000103;
    margin: 0;
    
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#menu-h ul li a:hover {
    color: rgb(7, 93, 213);
}

footer{
    background-color: #666;  
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #77869e;
}

#footer{
    text-align: left;
    margin-left: 250px;
    background-color: #666;
    color: #b2b2b2;
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}

.footer-bottom{
    border-top: 1px solid #b2b2b2;
}

.slides{
    display: inline-block;
    padding: 10px;
}

.ada{
    margin: 0 auto;
    border-radius: 10px;
    background-color: #dde1e7;
    width: 95%;
    height: 376px;
    padding: 10px;
}
.calculadora{

    background-color: #dde1e7;
    border-radius: 10px;
    width: 95%;
    height: 376px;
    padding: 10px;
}

.card-img-top-1{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #bfc3c9;
    width: 276px;
    height: 161px;
    padding: 10px;
}
.card-text-1{
    height: 93px;
}
.card-body-1{
    height: 170px;
}
.card-img-top-2{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #bfc3c9;
    height: 161px;
    padding: 10px;
}

.ada , .calculadora , .espaco{
    float: left;
}

a{
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    color: #bfc3c9;
}

button{
    border-radius: 10px;
    background-color: #232d3d;
}

.apresentacao{
    color: #bfc3c9;
}
.espaco2{
    height: 70px;
}
.curriculo{
    color: #bfc3c9;
}
#h3-curriculo{
    background-color: rgb(206, 220, 195);
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(16, 28, 1);
    border-radius: 10px;
}
.foto-curriculo{
    width: 45%;
    height: 60%;
    border-radius: 10px;
}

.espaco{
    width: 152px;
    height: 200px;
}

h1, h2, h3{
    color:  #bfc3c9;
}
h3{
    background-color: rgb(206, 220, 195);
    margin-left: 25%;
    margin-right: 25%;
    color: rgb(16, 28, 1);
    border-radius: 10px;
}

#p-curriculo{
    color: #fff;
}

#drive{
    color: black;
    background-color: #dcd6d6;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}