body{
    text-align: center;
    font-family: Open Sans, sans-serif;
    background-color: #05062a;
    margin: 0 0 30px 0px;
    margin-bottom: 0;
}
header{
    padding: 0;
    margin-top: 0;
    
}
#menu-h ul{
    list-style-type: none;
    line-height: 2;
    text-decoration: none;
    padding: 0;
    background-color: #101c30;
    margin: 0;
    
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#menu-h ul li a:hover {
    color: rgb(7, 93, 213);
}

footer{
    background-color: #666;  
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #77869e;
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper::after{
    clear: both;
    content: "";
    display: block;
}

.footer-bottom{
    border-top: 1px solid #b2b2b2;
}

.slides{

    display: inline-block;
    border: 2px solid blue; 
    padding: 10px;
    background-color: #05062a;

}

.projetos{
    border: 2px solid yellow;
    background-color: #05062a;
}


.ada{
    margin: 0 auto;
    border-radius: 10px;
    background-color: #dde1e7;
    width: 95%;
    height: 100%;
    padding: 10px;
}
.calculadora{

    background-color: #dde1e7;
    border-radius: 10px;
    width: 95%;
    height: 100%;
    padding: 10px;
}

.card-img-top-1{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #bfc3c9;
    width: 276px;
    height: 161px;
    padding: 10px;
}

.card-img-top-2{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #bfc3c9;
    height: 161px;
    padding: 10px;
}

.ada , .calculadora , .espaco{
    float: left;
}

a{
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    color: #bfc3c9;
}

button{
    border-radius: 10px;
    background-color: #232d3d;
}

.apresentacao{
    border: 2px solid red;
    color: #bfc3c9;
}

.curriculo{
    border: 2px solid green;
    color: #bfc3c9
}

.espaco{
    width: 300px;
    height: 200px;
}

h1, h2, h3{
    color:  #bfc3c9;
}
